/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000; 
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;   
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

/*My Code From Here Down*/
@font-face {
    font-family: 'overseerregular';
    src: url('overseer-webfont.woff2') format('woff2'),
         url('overseer-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

.main-wrapper {
	margin: 0 auto;
	width: 1000px;
}

a {
	text-decoration: none;
}


body {
	background-image: url("bg.png");
	background-repeat: no-repeat;
    background-size: cover;
}

header nav {
	width: 100%;
	height: 60px;
	background-color: #fff;
}

header nav ul {
	float: left;
	margin-bottom: 0;
	height: 0px;
}

header nav ul li {
	float: left;
	list-style: none;
}

header nav ul li a {
	font-family: overseerregular;
	font-size: 26px;
	color: #111;
	line-height: 63px;
	padding: 0px 10px;
}

header .nav-login {
	float: right;
}


header .nav-balance {
	float: right;
	padding: 18px 30px;
	font-family: overseerregular;
	font-size: 26px;
	color: #20871f;
}

header .nav-balance img{
	float: right;
	vertical-align: center;
	width: 27px;
	height: 26px;
}
header .nav-balance img[src*="accounticons/icon1.jpg"]{
	float: left;
	padding-right: 5px;
	width: 40px;
}
header .nav-balance img[src*="accounticons/icon2.jpg"]{
	float: left;
	padding-right: 5px;
	width: 40px;
}
header .nav-balance img[src*="accounticons/icon3.jpg"]{
	float: left;
	padding-right: 5px;
	width: 40px;
}
header .nav-balance img[src*="accounticons/icon4.jpg"]{
	float: left;
	padding-right: 5px;
	width: 40px;
}

header .nav-balance strong{
	color: #ff0000;
}

header .nav-login form {
	float: left;
	padding-top: 15px;
}

header .nav-login form input {
	float: left;
	width: 140px;
	height: 30px;
	padding: 0px 10px;
	margin-right: 10px;
	border: none;
	background-color: #ccc;
	font-family: overseerregular;
	font-size: 14px;
	color: #111;
	line-height: 30px;
}

header .nav-login form button {
	float: left;
	width: 60px;
	height: 30px;
	margin-right: 10px;
	border: none;
	background-color: #f3f3f3;
	font-family: overseerregular;
	font-size: 16px;
	color: #111;
	cursor: pointer;
}

header .nav-login form button:hover {
	background-color: #ccc;
}

header .nav-login a {
	display: block;
	width: 60px;
	height: 60px;
	border: none;
	float: left;
	background-color: #fff;
	font-family: overseerregular;
	font-size: 16px;
	color: #111;
	line-height: 60px;
	cursor: pointer;
}

.main-container {
	padding-top: 40px;
}

.main-container h2 {
	font-family: overseerregular;
	font-size: 40px;
	color: #fcdd44;
	line-height: 58px;
	text-align: center;
}



/*CSS FOR THE SIGNUP PAGE*/


.signup-form {
	width: 400px;
	margin: 0 auto;
	padding-top: 30px;
}

.signup-form input {
	width: 90%;
	height: 40px;
	padding: 0px 5%;
	margin-bottom: 4px;
	border: none;
	background-color: #ccc;
	font-family: overseerregular;
	font-size: 16px;
	color: #111;
	line-height: 40px;
}

.signup-form button {
	display: block;
	margin: 0 auto;
	width: 30%;
	height: 40px;
	border: none;
	background-color: #222;
	font-family: overseerregular;
	font-size: 18px;
	color: #fff;
	cursor: pointer;
}

.signup-form button:hover {
	background-color: #111;
	
}

/*CSS FOR THE NEWS PAGE*/


.news-info {
	background: rgba(0, 0, 0, 0.8);
    width: 450px;
    border: none;
    padding: 25px;
	color: white;
	font-size: 20px;
	font-family: 'Century Gothic',sans-serif;
	text-align: center;
    margin-left: auto;
	margin-right: auto;
}

/*CSS FOR THE DEPOSIT/WITHDRAW PAGE*/

.main-container h3 {
	border: none;
	font-family: overseerregular;
	font-size: 40px;
	color: #38ad30;
	line-height: 58px;
	text-align: center;
}

.diceimg {
	text-align: center;
}

.main-container h4 {
	border: none;
	font-family: overseerregular;
	font-size: 40px;
	color: #dbd64c;
	line-height: 58px;
	display:inline;
}

.deposit-form {
	width: 400px;
	margin: 0 auto;
	padding-top: 30px;
}

.deposit-form img {
	float: left;
    margin: 0 auto;
	width:60px;
	height:57px;
	border:0;
}


.deposit-form input {
	width: 90%;
	height: 40px;
	padding: 0px 5%;
	margin-bottom: 4px;
	border: none;
	background-color: #ccc;
	font-family: overseerregular;
	font-size: 19px;
	color: #111;
	line-height: 40px;
}

.deposit-form button {
	display: block;
	margin: 0 auto;
	width: 30%;
	height: 40px;
	border: none;
	background-color: #1a1a1a;
	font-family: overseerregular;
	font-size: 18px;
	color: #fff;
	cursor: pointer;
}

.deposit-form button:hover {
	background-color: #111;
	
}

/*CSS FOR STAFF PAGE*/

.staff-view {
	width: 400px;
	margin: 0 auto;
	padding-top: 30px;
	border: 1;
	background-color: #ccc;
	font-family: overseerregular;
	font-size: 16px;
	color: #111;
}
















